<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

          {% if site.data.global.title != '' %}
          <h1 class="text-center">{{site.data.global.title}}</h1>
          {% endif %}

          {% if site.data.global.description != '' %}
          <p class="text-center">{{site.data.global.description}}</p>
          {% endif %}

          <h3 class="text-center">{% include contact.html %}</h3>

          {% include contact-modal.html %}

          <div class="hero-buttons">
            {% if site.data.global.twitter != '' %}
              <a href="https://twitter.com/{{ site.data.global.twitter }}"><button class="btn btn-default btn-lg"><i class="fa fa-twitter fa-3x"></i></button></a>
            {% endif %}
            {% if site.data.global.github != '' %}
              <a href="https://github.com/{{ site.data.global.github }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-2x"></i></button></a>
            {% endif %}
            {% if site.data.global.linkedin != '' %}
              <a href="https://linkedin.com/in/{{ site.data.global.linkedin }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-2x"></i></button></a>
            {% endif %}
          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
